.row--no-gutter {
    margin-left: 0;
    margin-right: 0;

    > .col {
        padding-left: 0;
        padding-right: 0;
    }
}

.row--margin-y {
    @include make-y-gutters(get-gutter(), outer);

    > .col {
        @include make-y-gutters(get-gutter());
    }
}

.col--stretch {
    display: flex;
    flex-direction: column;

    // Fix intrinsic scaling in IE
    > * {
        min-height: 1px;
    }
}
