<div id="js-cookienotice" class="b-cookienotice hidden">
    <div class="container">
        <div class="b-cookienotice__text">
            Diese Webseite nutzt Cookies, um deren Nutzung zu erleichtern. Weitere Informationen finden Sie in der <a href="#" target="_blank" class="u-link--underline"><span>Datenschutzerklärung</span></a>.
        </div>
        <div class="b-cookienotice__button">
            <button id="js-cookienotice-accept" class="c-btn"><span>Zustimmen</span></button>
        </div>
    </div>
</div>
<div id="js-cookienotice-spacer"></div>
