<footer class="b-footer">
    <div class="b-footer__top"></div>
    <div class="b-footer__bottom">
        <div class="container">
            <div>
                &copy; 2018 | pixelschubser.ch
            </div>
            <nav class="b-menu-footer">
                <ul class="b-menu-footer__list">
                    <li>
                        <a href="#">
                            <span>Imprint</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Privacy Policy</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>

<div id="js-breakpointhelper" class="u-breakpoint-helper"></div>
