<header class="b-header">
    <link rel="stylesheet" href="Css/components/hero.css">
    <div class="c-hero">
        <div id="js-trianglify" class="c-hero-pattern"></div>
        <div class="c-hero-content">
            <div class="container">
                <h1>
                    <small>Manuel Lieb</small>
                    <br>
                    Front/> Developer
                </h1>
            </div>
        </div>
    </div>
    <script src="Javascript/components/vendor/trianglify.min.js"></script>
    <script src="Javascript/components/hero.js"></script>
</header>
